.dashboard {
    display: flex;
    flex-direction: column;
}

.container-geral {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.container-cards {
    width: 100%;
    display: grid;
    grid-template-rows: 20% 70%;
    max-width: 400px;
}

.container-pie {
    background-color: white;
    height: 190px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px rgb(0, 0, 0, .25);
    display: grid;
    grid-template-columns: 30% 70%;
}

.legenda {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    text-align: center;
    vertical-align: middle;
}

.grafico-meses {
    width: 90%;
    display: grid;
    grid-template-columns: 45% 45%;
    margin: 70px auto 0 auto;
    border-radius: 5px;
    grid-gap: 10%;
}

.span-ativo::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: green;
}

.span-ferias::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: yellow;
}

.span-total::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
}

.container-chart {
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px rgb(0, 0, 0, .25);
}

.container-calendar {
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px rgb(0, 0, 0, .25);
}