textarea {
    margin-bottom: 20px;
    border-radius: 5px;
}

.container-solicitacao {
    width: 50%;
    background-color: white;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 3px rgb(0 0 0 / 25%);
}

.container-solicitacao>button{
    width: 50%;
    margin: 10px auto 0 auto;
}