.container-pessoa {
    text-align: center;
    margin: 5% 5% 0 5%;
}

td {
    padding: 10px;
    margin: 10px 0 !important;
    width: 25%;
}

td:nth-child(1) {
    border-radius: 5px 0 0 5px;
}


td:nth-child(4) {
    border-radius: 0 5px 5px 0;
}

.status {
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
}

.ferias {
    background-color: #E8D52E;
}

.ativo {
    background-color: #5CB85D;
}

.colaborador:hover {
    cursor: pointer;
    background-color: #9ae09b;
}