.container-pessoa {
    text-align: center;
    margin: 5% 5% 0 5%;
}

td {
    padding: 10px;
    margin: 10px 0 !important;
    width: 25%;
}

.ferias {
    background-color: #E8D52E;
}

.ativo {
    background-color: #5CB85D;
}

.acumulando {
    background-color: #d85a5a;
}

.colaborador:hover {
    cursor: pointer;
    background-color: #9ae09b;
}

.spanStatus{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.spanStatus>span:nth-child(1){
    margin-bottom: 3px;
}

.table-bordered td {
    border: none;
}

.table td {
    border-top: none;
}