@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.containerPrincipal {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-20%, -20%);
    width: 100%;
}

.containerLogin {
    width: 25%;
    background-color: #009846;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 3px rgb(0, 0, 0, .25);
}

.loginInput{
    position: relative;
}

.loginInput>input {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 8px 8px 50px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px 3px rgb(0, 0, 0, .15);
}

.loginInput>i{
    color: #1D4636;
    position: absolute;
    font-size: 25px;
    top: 12%;
    left: 4%;
}

.botao {
    background-color: #1D4636;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.botao:hover {
    cursor: pointer;
    background-color: #183f30;
}

.containerLogo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.containerLogo>h1 {
    color: #E8D52E;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Marck Script', cursive;
    text-shadow: 1px 1px rgb(0, 0, 0, .15);
}

.logo {
    width: 150px;
    margin: 0 auto;
}