.container-cadastro {
    width: 60%;
    background-color: white;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 3px rgb(0, 0, 0, .25);
}

.input-duplo>input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px 3px rgb(0, 0, 0, .15);
}

.input-duplo>select {
    padding: 8px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px 3px rgb(0 0 0 / 15%);
}

.container-duplo {
    display: flex;
    justify-content: space-between;
}

.input-duplo {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.container-cadastro>button {
    width: 50%;
    margin: 30px auto 0 auto;
}

.botao:hover {
    cursor: pointer;
    background-color: #183f30;
}