.container-principal-perfil {
    width: 100%;
    font-size: 20px;
}

.container-principal-perfil>button {
    width: 15%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}

h1 {
    text-align: center;
}

.container-perfil {
    width: 50%;
    background-color: white;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 3px rgb(0, 0, 0, .25);
}

.container-principal-perfil>button {
    background-color: #1D4636;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.dado {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.dado>span{
    width: 100%;
}

.dado>input{
    width: 100%;
}

#check{
    align-self: center;
}

.dado>span:nth-child(1) {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}