.containerPrincipal {
    width: 100%;
    font-size: 20px;
}

.containerPerfil>button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}

.titulo {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.containerPerfil {
    width: 50%;
    background-color: white;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 3px rgb(0, 0, 0, .25);
}

.containerPerfil>button {
    width: 50%;
    background-color: #1D4636;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.dado {
    display: flex;
    margin-bottom: 15px;
}

.dado>span {
    width: 63%;
}

.dado>input {
    width: 98%;
    border-radius: 5px;
    border: none;
    padding: 2px 5px 2px 5px;
    box-shadow: 1px 1px 2px 2px rgb(0, 0, 0, .15);
}

.alterar{
    width: 100%;
    margin-bottom: 5px;
    padding-top: 10px;
}

.dado>span:nth-child(1) {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.check {
    display: block;
}

.containerLabels {
    display: grid;
    grid-template-columns: 35% 45%;
    grid-gap: 10%;
}

.containerLabels>div{
    margin-bottom: 15px;
}

.nomes {
    display: grid;
    text-align: end;
    font-weight: bold;
}

.valores {
    display: grid;
    text-align: start;
}