.container-principal-perfil {
    width: 100%;
    font-size: 20px;
}

.container-principal-perfil>button {
    width: 15%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}

h1 {
    text-align: center;
}

.container-perfil {
    width: 50%;
    background-color: white;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 3px rgb(0, 0, 0, .25);
}

.labels {
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 45%;
    margin-bottom: 5px;
    font-weight: bold;
}

.valores {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 45%;
}

.valores>input {
    box-shadow: none;
    background-color: #D9D9D9;
    padding: 5px;
    vertical-align: middle;
    border: .5px solid black;
}

.input {
    align-self: flex-start !important;
}

.labels>* {
    margin-bottom: 10px;
}

.valores>* {
    margin-bottom: 10px;
}

#check{
    align-self: flex-start;
}

.container-principal-perfil >button{
    background-color: #1D4636;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
}