header {
    display: flex;
    justify-content: space-between;
    background-color: #009846;
    padding: 5px 30px;
    color: white;
    font-size: 25px;
}

.logo {
    width: 120px;
}

.opcoes {
    position: relative;
}

.opcoes>* {
    margin-left: 30px;
}

.opcoes>span:hover {
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #1D4636;
    text-decoration: none;
}

.notificacoes {
    z-index: 2;
    border: 1px solid black;
    flex-direction: column;
    position: absolute;
    right: 60%;
    top: 110%;
    width: 350px;
    background-color: white;
    color: black;
}

.topo {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #1D4636;
    padding: 5px 15px;
    border-bottom: 1px solid black;
}

.fundo {
    color: white;
    font-size: 15px;
    text-align: center;
    background-color: #1D4636;
    padding: 5px 15px;
    border-bottom: 1px solid black;
}

.fundo>span:hover {
    cursor: pointer;
    color: #1D4636;
}

.count {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: absolute;
    background-color: #E8D52E;
    border-radius: 50%;
    top: 5%;
    right: 63%;
    width: 15px;
    height: 15px;
    font-size: 10px;
    font-weight: bold;
}

.count > *{
    vertical-align: middle;
}

.visivel {
    display: block;
}