.notificacao{
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid black;
}

.notificacao>:last-child{
    color: black;
    font-size: 12px;
    align-self: flex-end;
}

.notificacao>:last-child:hover{
    color: #1D4636;
}