.container-card {
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 5% 5% 0 5%;
    display: grid;
    grid-template-rows: 30% 70%;
}

h2 {
    text-align: center;
    font-size: 20px !important;
    font-weight: bold !important;
    /*display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;*/
}

.card {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    height: 190px;
    box-shadow: 3px 3px 5px 1px rgb(0, 0, 0, .25);
    border-radius: 5px;
    position: relative;
}

.card>span {
    display: flex;
    margin: 0 auto;
    height: 85%;
    flex-direction: column;
    justify-content: center;
}

.card>span>i {
    font-size: 5rem;
    align-self: center;
}

.card>.botao {
    position: absolute;
    padding: 10px 20px;
    width: 80%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botao {
    background-color: #1D4636;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.botao:hover {
    color: white;
}