.pesquisa {
    text-align: center;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px !important;
}

.titulo {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-spacing: 0;
    border-radius: 5px !important;
    font-size: 13px;
}

th {
    text-align: center;
    vertical-align: middle !important;
}

.tabela {
    background-color: #009846 !important;
    color: white;
}

.containerEquipe {
    width: 80%;
    background-color: white;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 30px;
}

.containerPesquisa {
    position: relative;
}

.containerPesquisa>span {
    position: absolute;
    top: 20%;
    right: 31%;
}

.diasDisponiveis {
    margin-bottom: 15px;
    padding: 4px 8px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px 2px rgb(0, 0, 0, .15);
}

.salvar{
    background-color: #5CB85D;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
}

.salvar:hover{
    background-color: #009846;
}