.solicitacao:hover{
    cursor: pointer;
    background-color: #9ae09b;
}

td{
    padding: 10px;
    margin: 10px 0 !important;
    width: 25%;
    vertical-align: middle !important;
}

table{
    margin-bottom: 0 !important;
}