.container-pessoa {
    text-align: center;
    margin: 5% 5% 0 5%;
}

td{
    padding: 10px;
    margin: 10px 0 !important;
    width: 25%;
    vertical-align: middle !important;
}

table{
    margin-bottom: 0 !important;
}

.status {
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    max-width: 100px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.ferias {
    background-color: #E8D52E;
}

.ativo {
    background-color: #5CB85D;
}